{% extends "base.html" %}
{% block content %}
<!--
blog post attribute
title, body, author, date
-->
<div class="container" style="padding-right:305px;">
    <form action="/save_edit_post/{{cur_post.post_id}}" method="POST">
        <div class="form-group">
            <label>
                포스트 제목
            </label>
            <input class="form-control" type="text" id="post_name" name="post_name" placeholder="포스트 제목을 쓰세요">
        </div>
        <div class="form-group">
            <label>
                포스트 작성자 
            </label>
            <input class="form-control" type="text" id="post_author" name="post_author" placeholder="포스트 작성자를 쓰세요">
        </div>
        <div class="form-group">
            <label>
                포스트 내용
            </label>
            <textarea id="summernote" name="post_body">{{ cur_post.post_body }}</textarea>
            <!--
            <textarea class="form-control" type="text" id="post_body" name="post_body" >
            </textarea>
            -->
        </div>
        <div class="form-group">
            <label>
                해시태그
            </label>
            <input class="form-control" type="text" id="tags" name="tags" placeholder="태그를 달아주세요(#으로 구분함)">
        </div>
        <button class="btn btn-primary">저장하기</button>
    </form>
</div>
<script>
$(document).ready(function() {
    $('#summernote').summernote({
        height: 300,
        toolbar: [
            ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['fontname', ['fontname']],
        ['fontsize', ['fontsize']],
        ['height', ['height']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video']],
        ['view', ['fullscreen', 'codeview', 'help']] 
        ]
    });
    $('#post_name').val('{{cur_post.post_name}}');
    $('#post_author').val('{{cur_post.post_author}}');
    $('#tags').val('{% for tag in cur_post.post_tags %}#{{tag}} {% endfor %}');
});

</script>
{% endblock %}
