{% extends "base.html" %}
{% block content %}
<style>
    .inline-block-font-size {
        display:inline-block;
        font-size:20px;
    }
    .comment-container {
        padding-top:2px;
        padding-bottom:2px;
    }
    .comment-user-container {
        display: inline-block;
        font-weight: bold;
    }
    .comment-body-container {
        display: inline-block;
        padding-left: 15px;
    }
    .comment-date-container {
        display: inline-block;
        padding-left: 15px;
    }
</style>
{% include "delete-modal.html" %}
<div class="container" style="padding-right:305px;">
<h1>
    {{ post.post_name }}
    {% if 'logged_in' in session and session['user_id'] == '1' %}
    <a href="/edit_post/{{post.post_id}}">
        <button href="" class="btn btn-warning">글 수정</button>
    </a>
        <button type="button" data-toggle="modal" data-target="#delete-modal" class="btn btn-danger">글 삭제</button>
    {% endif %}
    <br>
</h1>
<p>
{{ post.post_author }}<br>
{{ post.post_date }}<br>
</p>
    <br>
    {{ post.post_body | safe }}<br>
<p>
{% for tag in post.post_tags %}
#<a href="/tag_search/{{tag}}">{{tag}}</a>
{% endfor %}
</p>

{% if 'logged_in' in session %}
{% if post.post_liked %}
<i class="fa fa-heart inline-block-font-size" aria-hidden="true" id="like-button" style="color:#eb7b7b;"></i>
{% else %}
<i class="fa fa-heart inline-block-font-size" aria-hidden="true" id="like-button" style="color:#777777;"></i>
{% endif %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<span style="display:inline-block;">
<div class="addthis_sharing_toolbox"></div>
</span>
<form action="/{{post.post_id}}/save_comment" method='POST'>
    <div class="form-group">
        <label>
            댓글 작성하기
        </label>
        <input class="form-control" type="text" id="comment_body" name="comment_body" placeholder="당신의 이야기를 들려주세요" >
    </div>
    <button class="btn btn-primary pull-right" >
        저장하기
    </button>
</form>
{% endif %}
<div style="padding-top:40px;padding-bottom:30px;">
{% for comment in post.post_comments %}
<div class="comment-container">
    <div class="comment-user-container">{{ comment.user_name }}</div>
    <div class="comment-body-container">{{ comment.comment_body }}</div>
    <div class="comment-date-container pull-right">{{ comment.created_at }}</div>
</div>
{% endfor %}
</div>
<script type="text/javascript">
$('#delete-button').click(function() {
    $.ajax({
        url: '/delete_post/{{post.post_id}}',
        type: 'POST',
        success: function(response) {
            window.location.href='/';
        }, 
        error: function(error) {
            console.log(error);
        }
    });
});
$('#like-button').click(function() {
    var data = {
    "user_id": {{ session['user_id'] }},
    };
    $.ajax({
url: '/user_like_post/{{post.post_id}}',
        data: data,
        type: 'POST',
        success: function(response) {
            var jsonData = JSON.parse(response);
            if ( jsonData["is_liked"] ) {
                $('#like-button').css('color','#eb7b7b');
                $('#like-button').css('font-weight','400');
            } else {
                $('#like-button').css('color','#777777');
                $('#like-button').css('font-weight','600');
            }
        },
        error: function(error) {
            console.log(error);
        }
    });
});
</script>
{% endblock %}
